<!DOCTYPE html>
<html>
	<head>
		<title>My Form</title>
	</head>
	<body>
		<form
			action="/calculate"
			method="GET"
		>
			<label for="input_age">Age:</label>
			<input
				type="text"
				id="input_age"
				name="input_age"
			/><br /><br />

			<label for="input_systolicBP">Systolic BP:</label>
			<input
				type="text"
				id="input_systolicBP"
				name="input_systolicBP"
			/><br /><br />

			<label for="input_diastolicBP">Diastolic BP:</label>
			<input
				type="text"
				id="input_diastolicBP"
				name="input_diastolicBP"
			/><br /><br />

			<label for="input_troponin">Troponin:</label>
			<input
				type="text"
				id="input_troponin"
				name="input_troponin"
			/><br /><br />

			<label for="input_chestpainandpainilefthandnadjaw"
				>Chest pain and pain in left hand or jaw:</label
			>
			<input
				type="text"
				id="input_chestpainandpainilefthandnadjaw"
				name="input_chestpainandpainilefthandnadjaw"
			/><br /><br />

			<label for="input_ECG">ECG:</label>
			<input
				type="text"
				id="input_ECG"
				name="input_ECG"
			/>
			<br /><br />

			<input
				type="submit"
				value="Submit"
			/>
		</form>
	</body>
</html>
